<%= @game.players.last.name %> attacked <%= @game.players.first.name %><p>
<table border="1" width="25%">
  <tr>
    <td width="50%"><b>Current</b></td><td width="50%"><b>Opponent</b></td>
  </tr>
  <tr>
    <td><%= @game.players.last.name%>: <%= @game.players.last.hit_points%>HP</td>
    <td><%= @game.players.first.name%>: <%= @game.players.first.hit_points%>HP</td>
  </tr>
</table>

<% if @game.winner? %>
  <%= @game.winner?.name %> Wins! & <%= @game.loser %> lost!
<% else %>
<a href='/play'>Swap</a>
<%end %>
