
<title><%= $player_1.name %> vs <%= $player_2.name %></title>

<%= @game.current_player.name%>'s turn<p>
  <table border="1">
    <tr><td><b>Current</b></td><td><b>Opponent</b></td></tr>
    <tr><td><%= @game.current_player.name%>: <%= @game.current_player.hit_points %>HP</td>
    <td><%= @game.opponent_player.name%>: <%= @game.opponent_player.hit_points %>HP</td></tr>
  </table>
  
<a href="/attack">Attack</a>
