
<title><%= $player_1.name %> vs <%= $player_2.name %></title>

<%= @game.current_player.name%>'s turn<p>

<%= @game.opponent_player.name%>: <%= @game.opponent_player.hit_points %>HP<p>
<a href="/attack">Attack</a>
